<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
         <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'> </link>
    <script>
        $(document).ready(function(){
        var url;
        $("#submit").click(function(){
          url=$("#url").val();
          $.post("http://localhost:3000/parseurl",{url: url}, function(data){
              if(data != null)
              {
                $("#you").html(data);
              }
          });
        });
      });
        </script>
  <style>
    body {
        background-color: AliceBlue;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
            
            <div class="form-group">
                <label for="url">Enter URL:</label>    
                <input type="text" class="form-control" name="url" id="url" placeholder="Paste Your URL and Short It!!!!">
                <br><input type="button" class="btn" value="Shorten" id="submit">
            </div>
      </div>
      <div class="row" >
            <div>
              <label>Shorted URL:</label>   
            </div>
            <div id="you">
            </div>
      </div>
    </div>
  </body>
</html>
